{% extends "base.html" %}
{% block content %}

<h3>📊 Campaign Overview</h3>

<div class="row text-center">
  <div class="col">Sent<br><b>{{sent}}</b></div>
  <div class="col">Opened<br><b>{{opens}}</b></div>
  <div class="col">Clicked<br><b>{{clicks}}</b></div>
  <div class="col">Failed<br><b>{{failed}}</b></div>
</div>

<hr>

<h4>Campaigns</h4>
<a href="/campaign/new" class="btn btn-primary btn-sm mb-2">➕ New Campaign</a>

<ul class="list-group">
{% for c in campaigns %}
  <li class="list-group-item d-flex justify-content-between">
    {{c.subject}} (Variant {{c.variant}})
    <a href="/campaign/send/{{c.id}}" class="btn btn-sm btn-success">Send</a>
  </li>
{% endfor %}
</ul>

{% endblock %}
